# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/

# Django Database
db.sqlite3

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Media files (optional)
media/

# Static collected files (if you use collectstatic)
staticfiles/

# Company logo (if you don't want to publish it)
ResumeBuilderProject/ResumeBuilder/resume/static/images/logo.png